@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-color: #161722;
  --bg-main: #25273c;  
  --text-main: #cacde8;
  --text-secondary: #777a92;
  --text-hover: #e4e5f1;
  --text-concluded: #4d5066;
}

::-webkit-scrollbar{
  border-radius:10px;
  width: 1px;
}

::-webkit-scrollbar-thumb{
  border-radius:10px;
  width: 1px;
  background-color: var(--text-secondary);
}